/* =======================
   Global Reset & Fonts
======================= */
* {
  font-family: 'Plus Jakarta Sans','Prompt', 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea,
.ant-input,
.ant-picker-input input {
  font-family: inherit;
}

.navbar a {
  text-decoration: none;
}

:root{
  --nav-h: 56px;                  /* ความสูงจริงของ navbar */
}

/* ใช้กับ .navbar (sticky) */
.navbar{
  height: var(--nav-h);           /* ฟิกส่วนสูงให้แน่นอน */
}

/* ถ้าใช้ .navbar--fixed ก็ให้ความสูงเท่ากัน */
.navbar--fixed{
  height: var(--nav-h);
}
